body {
    margin: 0;
    height: 100vh;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-header {
    background-color: #358A9D;
    height: 100px;
}

.page-content {
    flex-grow: 1;
}

.page-footer {
    background-color: #358A9D;
    height: 100px;
}